@font-face {
    font-family: 'homebase';
    src: url('homebase.ttf');
}
@font-face {
    font-family: 'homme';
    src: url('Homme.ttf');
}
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: rgb(42,41,55);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
}
body p {
    color: white;
}
#homebtn {
    color: white;
    border-radius: 15px;
    border: 10px solid white;
    background-color: transparent;
    width: 100px;
    height: 50px;
}
body button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
body h2{
    color: white;
    margin-left: 50px;
}
#left {
    width: 33%;
    height: 100%;
}
#middle {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#right {
    width: 33%;
    height: 100%;
}
#middle p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
output {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#settingsIsConnected {
    color: red;
}
.wide {
    height: 50px;
    width: 200px;
}