html {
    margin: 0;
    height: 100%;
}
#top {
    display: flex;
    flex-direction: row;
    color: #FFDBFD;

}

Button {
    background-color: #6367FF;
    color: #FFDBFD;
    border-radius: 15px;
    border: none;
}
#refreshbtn {
    border-radius: 15px;
    width: 200px;
    height: 50px;
}
body {
    background-color: #8494FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    align-items: center;
}
#homebtn {
    border-radius: 15px;

    width: 100px;
    height: 50px;
}
#top button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
body h2 {
    color: #FFDBFD;
}
h2 {
    font-family: 'Courier New', "serif";
}
#rawStats {
    color: #FFDBFD;
    border-radius: 10px;

    background-color: #6367FF;
    width: 500px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    text-align: center;
}
.statTitles {
    font-weight: bold;
}
#isConnectedForbiPasserende {
    margin: 30px 0 30px 0;
    width: 300px;
    height: 100px;
    justify-self: center;
    align-items: center;
    background-image: url('NotConnected.png');
    background-size: contain;
    background-repeat: no-repeat;
}