@font-face {
    font-family: 'homebase';
    src: url('PC/homebase.ttf');
}
@font-face {
    font-family: 'homme';
    src: url('PC/Homme.ttf');
}
html {
    height: 100%;
}
body {
    background-color: #8494FF;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
}
body p {
    color: #FFDBFD;
}
Button {
    background-color: #6367FF;
    color: #FFDBFD;
    border-radius: 15px;
    border: none;
}
#homebtn {

    width: 100px;
    height: 50px;

}
body button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
body h2{
    color: #FFDBFD;
    margin-left: 50px;
}
#left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 33%;
    height: 100%;
}
#middle {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#right {
    width: 33%;
    height: 100%;
}
#middle p {
    color: #FFDBFD;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
output {
    color: #FFDBFD;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#settingsIsConnected {
    margin: 30px 0 30px 0;
    width: 300px;
    height: 100px;
    justify-self: center;
    align-items: center;
    background-image: url('NotConnected.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.wide {
    height: 50px;
    width: 200px;
}