body {
    background-color: rgb(42,41,55);
}
html h2 {
    color: white;
}
#refreshEnergybtn {
    color: white;
    border-radius: 15px;
    border: 10px solid white;
    background-color: transparent;
    width: 200px;
    height: 50px;
}
#homeEnergybtn {
    color: white;
    border-radius: 15px;
    border: 10px solid white;
    background-color: transparent;
    width: 100px;
    height: 50px;
}
#buttonbox button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
#buttonbox {
    display: flex;
    flex-direction: row;
    color: white;
}
.marginme {
    margin: 10px;
}